.heder{
    height: 120px;
    background-image: linear-gradient(0,#fe6432,#f94f2f);
}
.heder__navbar{
    display: flex;
    justify-content: space-between;
}
.heder__navbar-list{
    list-style: none;
    padding-left: 0px;
    margin-top: 4px;
  
}
.heder__navbar-item{

    margin: 0 8px;
    position: relative;
    min-height: 26px;
}
.heder__navbar-item--has-qr:hover .header_qr{

    display: block;
}
.heder__navbar-item--has-notify:hover .header__notify{
    display: block;
}
.heder__navbar-item,.heder__navbar-item-link{
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
    
}
.heder__navbar-item,
.heder__navbar-item-link,
.heder__navbar-icon-link{
    display: inline-flex;
    align-items: center;

}
.heder__navbar-item:hover,.heder__navbar-item-link:hover, .heder__navbar-icon-link:hover{
cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}
.heder__navbar-item--strong{
    font-weight: 400;
}
.heder__navbar-item-separate::after{
    content: "";
    display: block;
    position: absolute;
    height: 12px;

    /* #f86c5b */
    border-left: 1px solid #fffbfb;
    right: -9px;
    margin: 0px;
    top: 50%;
    transform: translateY(-50%);
}
.heder__navbar-icon-link{
    color: var(--white-color);
    text-decoration: none;
}
.heder__navbar-icon{
font-size: 1.8rem;
margin: 0 4px;


}
.heder__navbar-title--no-pointer{
    cursor: text;
    color: var(--white-color);

}
.header_qr{
    background-color:  var(--white-color);
    width: 186px;
    position: absolute;
     left: 0;
  top: 118%;
    padding: 8px;
    border-radius: 2px;
     display:  none; 
     animation: fadeIn ease-in 0.5s;

}
.header_qr::before{
    position: absolute;
    width: 100%;
    height: 20px;
    content: "";
    top: -16px;
    left: 0;

    display: block;
    

}
.header_qr-img{
    width: 100%;

}
.header__qr-link:first-child(1){
margin-left: 11px;


}.header__qr-link:first-child(2){
    margin-right: 11px;
    
    
    }
.header__qr-apps{
    display: flex;
    justify-content: space-between;


}
.header__qa-dowload-img{
height: 15px;
}


.header__notify{
    cursor: default;
    position: absolute;
    top: 118%;
    width: 404px;
    right: 0px;
    background-color: var(--white-color);
    border:1px solid#d3d3d3;
    transform-origin: 90% top;
    animation: headeNotifyGrowth ease-in 0.5s;
    display: none;
}
@keyframes headeNotifyGrowth {
    from {
      transform: scale(0);
    }
    to{
        transform: scale(1);

    }
    
}
.header__notify-header{
    height: 40px;
    background-color: var(--white-color);
    
}
.header__notify-header h3{
   
    line-height: 40px;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.5srem;
    color: rgba(12, 12, 12, 0.4);
}
.header__notify-list{
    padding-left: 0;


}
.header__notify-item--viewed{
    background-color: rgba(238, 75, 43, 0.07);
  
}
.header__notify-item:hover{
    background-color: #f7f7f7;
  
}
.header__notify-link{
    padding: 12px;
    width: 100%;
    display: flex;
    text-decoration: none;
    /* background-color: rgba(238, 75, 43, 0.07); */
    
}
.header__notify-img{
    object-fit: contain
    ;
    width: 48px;
    
}
.header__notify-info{
    margin-left: 12px;
    flex: 1;
    
}
.header__notify-name{
    font-size: 1.4rem;
    display: block;
    color: var(--black-color);
    line-height: 1.8rem
}
.header__notify-descriotion{
    
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #756F6E;
}
.header__notify-footer{
display: flex;

}
.header__notify-footer-btn{

padding: 6px 16px;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 400;
    width: 100%;
    text-align:  center;
    
}